﻿@model SlotMachine.ViewModels.MachineViewModel
@{   ViewBag.Title = "Home Page";}

@Html.Hidden("Credits", Model.Credits)
@Html.Hidden("BetSize", Model.Credits)

        <div id="layout-tripel-container" >
            <div id="layout-tripel" class="group" >
                <div id="tripel-first">
                    <div class="zone zone-tripel-first">
                        <article class="widget-html-widget widget">
                            @*Spinner *@
                            <img id="Spinner1Img" src="~/Images/loading.gif"/>
                        </article>
                    </div>
                </div>
                <div id="tripel-second">
                    <div class="zone zone-tripel-second">
                        <article class="widget-html-widget widget">
                            @*Spinner *@
                            <img id="Spinner2Img" src="~/Images/loading.gif"/>
                           </article>
                    </div>
                </div>
                <div id="tripel-third">
                    <div class="zone zone-tripel-third">
                        <article class="widget-html-widget widget">
                            @*Spinner *@
                            <img id="Spinner3Img" src="~/Images/loading.gif"/>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:white;align-content:center;display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */">
            <h3 style="background-color:white;display:normal;align-content:flex-start;text-align:justify" id="amounts">
                <Label>Credit: </Label> <label id="credits">@Model.OldCredits</label><br /><p></p>
                <label>Bet: </label> <label id="betSize">@Model.BetSize</label><br /><p></p>
                <label>Won Last Spin: </label><label id="amountWonLastSpin"> -/-</label><br />@*Can't show model directly, need to let it spin*@
            </h3>
        </div>

        <div style="background-color:white;align-content:center;display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */" id="buttons">
            <form method="post">
                <div hidden>
                    <Label asp-for="Credits">Credit:  </Label> <input id="Credits" asp-for="Credits" value="@Model.Credits" /><br />
                    <Label asp-for="BetSize">BetSize:  </Label> <input id="BetSize" asp-for="BetSize" value="@Model.BetSize" /><br />
                    <Label asp-for="Activity">Activity:  </Label> <input id="Activity" asp-for="Activity" value="MaxBetAndSpin" /><br />

                    <label asp-for="Spinner1"> Spinner1:></label><input id="Spinner1" asp-for="Spinner1" value="@Model.Spinner1" /><br />
                    <label asp-for="Spinner2"> Spinner2:></label><input id="Spinner2" asp-for="Spinner2" value="@Model.Spinner2" /><br />
                    <label asp-for="Spinner3"> Spinner3:></label><input id="Spinner3" asp-for="Spinner3" value="@Model.Spinner3" /><br />

                </div>
                <button disabled id="maxBetButton" type="submit" value="@Model">Maximize bet and Spin</button><br />
            </form>


            <form method="post">
                <div hidden>
                    <Label asp-for="Credits">Credit:  </Label> <input id="Credits" asp-for="Credits" value="@Model.Credits" /><br />
                    <Label asp-for="BetSize">BetSize:  </Label> <input id="BetSize" asp-for="BetSize" value="@Model.BetSize" /><br />
                    <Label asp-for="Activity">Activity:  </Label> <input id="Activity" asp-for="Activity" value="Bet1More" /><br />


                    <label asp-for="Spinner1"> Spinner1:></label><input id="Spinner1" asp-for="Spinner1" value="@Model.Spinner1" /><br />
                    <label asp-for="Spinner2"> Spinner2:></label><input id="Spinner2" asp-for="Spinner2" value="@Model.Spinner2" /><br />
                    <label asp-for="Spinner3"> Spinner3:></label><input id="Spinner3" asp-for="Spinner3" value="@Model.Spinner3" /><br />

                </div>
                <button disabled id="addCreditButton" type="submit" value="@Model">Add Credit</button><br /> 
            </form>


            <form method="post">
                <div hidden>
                    <Label asp-for="Credits">Credit:  </Label> <input id="Credits" asp-for="Credits" value="@Model.Credits" /><br />
                    <Label asp-for="BetSize">BetSize:  </Label> <input id="BetSize" asp-for="BetSize" value="@Model.BetSize" /><br />
                    <Label asp-for="Activity">Activity:  </Label> <input id="Activity" asp-for="Activity" value="Spin" /><br />

                    <label asp-for="Spinner1"> Spinner1:></label><input id="Spinner1" asp-for="Spinner1" value="@Model.Spinner1" /><br />
                    <label asp-for="Spinner2"> Spinner2:></label><input id="Spinner2" asp-for="Spinner2" value="@Model.Spinner2" /><br />
                    <label asp-for="Spinner3"> Spinner3:></label><input id="Spinner3" asp-for="Spinner3" value="@Model.Spinner3" /><br />
                </div>
                <button disabled id="spinButton">Spin</button><br />
            </form>

            
            
            <form method="post">
                <div hidden>
                    <Label asp-for="Credits">Credit:  </Label> <input id="Credits" asp-for="Credits" value="@Model.Credits" /><br />
                    <Label asp-for="BetSize">BetSize:  </Label> <input id="BetSize" asp-for="BetSize" value="@Model.BetSize" /><br />
                    <Label asp-for="Activity">Activity:  </Label> <input id="Activity" asp-for="Activity" value="Payout" /><br />

                    <label asp-for="Spinner1"> Spinner1:></label><input id="Spinner1" asp-for="Spinner1" value="@Model.Spinner1" /><br />
                    <label asp-for="Spinner2"> Spinner2:></label><input id="Spinner2" asp-for="Spinner2" value="@Model.Spinner2" /><br />
                    <label asp-for="Spinner3"> Spinner3:></label><input id="Spinner3" asp-for="Spinner3" value="@Model.Spinner3" /><br />
                </div>
                <button disabled id="payoutButton" onclick="payoutFunction()"> Payout</button><br />
            </form>


            <form method="post">
                <div hidden>
                    <Label asp-for="Credits">Credit:  </Label> <input id="Credits" asp-for="Credits" value="@Model.Credits" /><br />
                    <Label asp-for="BetSize">BetSize:  </Label> <input id="BetSize" asp-for="BetSize" value="@Model.BetSize" /><br />
                    <Label asp-for="Activity">Activity:  </Label> <input id="Activity" asp-for="Activity" value="Reset" /><br />

                    <label asp-for="Spinner1"> Spinner1:></label><input id="Spinner1" asp-for="Spinner1" value="@Model.Spinner1" /><br />
                    <label asp-for="Spinner2"> Spinner2:></label><input id="Spinner2" asp-for="Spinner2" value="@Model.Spinner2" /><br />
                    <label asp-for="Spinner3"> Spinner3:></label><input id="Spinner3" asp-for="Spinner3" value="@Model.Spinner3" /><br />
                </div>
                <button hidden id="reset"> Reset</button><br />
            </form>
        </div>

<script>

    var amountWonButHideUntilSpinComplete = @Model.AmountWonLastSpin;

    if(amountWonButHideUntilSpinComplete >= 0)
    {
        window.setTimeout(showSpinner1,Math.floor((Math.random() * 1500)+ 500));//.5 to 2 Seconds
    }
    else if(amountWonButHideUntilSpinComplete == -2)
    {
        //Everything is disabled, but show a reset button
        document.getElementById("reset").hidden = false;
    }
    else
    {
        updateWinningsEnableButtons();
    }

    function payoutFunction(){
        document.getElementById("maxBetButton").disabled = true;
        document.getElementById("addCreditButton").disabled = true;
        document.getElementById("payoutButton").disabled = true;
        document.getElementById("spinButton").disabled = true;
        if(@Model.Credits < 100)
            alert("Congrats you recieve: " + @Model.Credits + " credits! Better luck next time, thanks for playing!");
        if(@Model.Credits >= 100)
            alert("You recieve: " + @Model.Credits + " credits! Good job big winner, good luck next time!");
    }

    function showSpinner1() {
        var image = document.getElementById('Spinner1Img');
        image.src = "@Model.Spinner1.Substring(1)";//Pull off opening ~

        window.setTimeout(showSpinner2,Math.floor((Math.random() * 1500)+ 500));
    }

    function showSpinner2() {
        var image = document.getElementById('Spinner2Img');
        image.src = "@Model.Spinner2.Substring(1)";//Pull off opening ~

        window.setTimeout(showSpinner3,Math.floor((Math.random() * 1500)+ 500));
        }

    function showSpinner3() {
        var image = document.getElementById('Spinner3Img');
        image.src = "@Model.Spinner3.Substring(1)";//Pull off opening ~

        var amountWonToDisplay = document.getElementById('amountWonLastSpin');
        amountWonToDisplay.textContent = @Model.AmountWonLastSpin;
        var creditsAfterSpin = document.getElementById('credits');
        creditsAfterSpin.textContent = @Model.Credits;

        if( @Model.AmountWonLastSpin > 0)
        {
            //Animate the winning
            document.getElementById("amounts").style.bold = true;
        }

        window.setTimeout(updateWinningsEnableButtons,0);

    }

    function updateWinningsEnableButtons() {
        document.getElementById("maxBetButton").disabled = false;
        document.getElementById("addCreditButton").disabled = false;

        document.getElementById("payoutButton").disabled = false;

        if(@Model.BetSize > 0)
        {
            document.getElementById("spinButton").disabled = false;
        }

    }


</script>
