﻿<!DOCTYPE html>
<html lang="en" class="static ">

<head>
    <meta charset="utf-8" />
    <title>Slot Machine </title>
    <link href="~/Css/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>




    <div class="tripel-123" id="layout-wrapper">
        <header id="layout-header" class="group">

            <div id="header">
                <div class="zone zone-header"><h1 id="branding"><a href="http://beep2bleep.com/index.html" title="Beep2Bleep - Home">Beep2Bleep</a></h1></div>
                <div id="layout-navigation" class="group">
                    <div class="zone zone-navigation">
                        <nav>
                            <ul class="menu menu-main">

                                <li class="current">
                                    <a href="http://beep2bleep.com/index.html">Products</a>
                                </li>
                                <li>
                                    <a href="http://beep2bleep.com/portfolio.html">Portfolio</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div id="layout-main-container">
            <div id="layout-main" class="group">
                <div id="layout-content" class="group">
                    <div id="content" class="group">
                        <div class="zone zone-content">
                            <article class="content-item page">
                                <header>
                                    <h1>Home</h1>
                                </header>
                                <h1>Welcome to the Slot Machine.</h1>
                                <p><span class="gwt-InlineLabel">For more information please email - web at beep2bleep dot com</span></p>
                                <footer></footer>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>



       <div>@RenderBody()</div>

        <div id="layout-footer" class="group">
            <footer id="footer">
                <div id="footer-quad" class="group">
                </div>
                <div id="footer-navigation" class="group">
                    <div class="zone zone-navigation zone zone-navigation">
                        <nav>
                            <ul class="menu menu-main menu menu-main">

                                <li class="current current">
                                    <a href="http://beep2bleep.com/index.html">Products</a>
                                </li>
                                <li>
                                    <a href="http://beep2bleep.com/portfolio.html">Portfolio</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript">


     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30570011-1']);
      _gaq.push(['_trackPageview']);


      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

        </script>
        <script type="text/javascript">

    // <![CDATA[
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/S9UuRnaNQK7ieAhJTX1cg.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    // ]]></script>


</body>
</html>